.c-wrapper {
    height: 100%;
    background-size: cover
}

.fix-width.fix-width {
    width: 12rem;
    margin: 0 auto;
    padding: 0
}

.c-main-nav-wrapper {
    height: .44rem;
    box-sizing: border-box
}

.c-content-wrapper, .c-map-wrapper {
    position: relative;
    margin-left: 220px;
    min-height: calc(100vh - .7rem);
    -webkit-transition: margin-left .3s;
    transition: margin-left .3s;
    box-sizing: border-box;
    padding: 15px
}

.c-content-wrapper > .inner, .c-map-wrapper > .inner {
    padding: 15px
}

.c-content-wrapper.full, .c-map-wrapper.full {
    margin-left: 0
}

.c-map-wrapper {
    padding: 0;
    overflow: hidden
}

.c-map-wrapper .map-container {
    min-height: calc(100vh - .7rem)
}

.has-footer .c-content-wrapper {
    min-height: calc(100vh - .7rem * 2)
}

.c-footer {
    height: .7rem;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(61, 119, 180, 0.12), 0 8px 16px 0 rgba(91, 139, 199, 0.24)
}

.c-footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgba(0, 0, 0, 0.45)
}

.c-top-wrapper {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(61, 119, 180, 0.12), 0 8px 16px 0 rgba(91, 139, 199, 0.24)
}

.c-top-bar {
    height: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .15rem
}

.c-top-bar .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.c-top-bar .logo-wrapper a {
    display: flex;
    align-items: center;
    color: #333
}

.c-top-bar .logo-wrapper .sys-logo {
    height: 42px;
    width: 42px;
    margin-right: 12px;
    background: url('../../images/sys-logo-sm.png') no-repeat left top
}

.c-top-bar .logo-wrapper .sys-name {
    font-size: .2rem;
    letter-spacing: 1.5px
}

.c-top-bar .logo-wrapper .with-title {
    align-self: flex-end;
    margin-left: 80px;
    font-size: 17px;
    margin-bottom: 3px;
    letter-spacing: 2px
}

.c-top-bar .c-search-box {
    margin-right: auto;
    height: .34rem;
    padding: 0 .1rem 0 .14rem;
    margin-left: .5rem
}

.c-top-bar .c-search-box .keywords {
    width: 2.5rem;
    padding: 0
}

.c-top-bar .c-search-box .smart-search-wrapper {
    top: .33rem;
    right: .37rem
}

.c-top-bar .c-search-box .keywords-del {
    font-size: .25rem;
    width: auto
}

.c-top-bar .c-search-box .composite-select {
    margin-right: 10px;
    margin-left: -15px;
    border-right: 1px solid #e6e6e6
}

.c-top-bar .c-search-box .select-mock {
    border: transparent;
    border-radius: 30px 0 0 30px;
    background: transparent;
    min-width: 75px
}

.c-top-bar .c-search-box .select-mock:after {
    line-height: 1
}

.c-top-bar .c-search-box .select-mock .selected-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}

.c-top-bar .c-search-box .select-mock .select-list {
    left: 3px;
    top: 31px
}

.c-top-bar .c-search-box .select-mock .select-list:after {
    display: none
}

.c-header-nav {
    display: flex;
    align-items: center;
    height: 100%
}

.c-header-nav > li {
    float: left;
    margin-left: .1rem;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center
}

.c-header-nav > li:before {
    content: "";
    position: absolute;
    background: #efefef;
    width: 1px;
    height: .2rem;
    left: .02rem;
    top: 50%;
    transform: translate(0, -50%)
}

.c-header-nav > li:first-child:before {
    display: none
}

.c-header-nav > li:first-child a {
    border-left: none
}

.c-header-nav > li > a {
    padding-left: 15px;
    color: #333;
    display: flex;
    align-items: center
}

.c-header-nav > li > a:hover {
    text-decoration: none
}

.c-header-nav > li > a .iconfont {
    margin-right: 6px;
    font-size: 18px;
    vertical-align: middle
}

.c-header-nav > li > a .iconzhuye {
    font-size: 22px
}

.c-header-nav > li > a[href]:hover {
    color: #3862d8
}

.has-sub-nav .popover {
    top: .4rem;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: inherit;
    border-radius: 3px
}

.has-sub-nav .popover.bottom > .arrow {
    margin-left: -12px;
    top: -11px
}

.has-sub-nav .popover.bottom > .arrow:after {
    top: 3px;
    margin-left: -9px
}

.has-sub-nav:hover .popover {
    display: block
}

.has-sub-nav .select-city-wrapper {
    width: 4.9rem
}

.has-sub-nav .sys-wrapper {
    width: 2.5rem
}

.has-sub-nav .sys-wrapper .sys-list-item {
    width: 50%
}

.has-sub-nav .set-wrapper {
    width: 1.5rem
}

.has-sub-nav .set-wrapper .iconfont {
    font-size: .18rem;
    margin-right: .06rem;
    color: #909399
}

.has-sub-nav .set-wrapper .sys-list-item a {
    padding-left: .15rem
}

.has-sub-nav .sys-list {
    display: flex;
    margin: -2px -14px
}

.has-sub-nav .sys-list-item {
    width: 100%
}

.has-sub-nav .sys-list-item a {
    display: flex;
    align-items: center;
    color: #333;
    line-height: 36px;
    padding: 0 15px 0 20px
}

.has-sub-nav .sys-list-item a:hover {
    background: #f5f7fa;
    color: #3862d8
}

.has-sub-nav .sys-list-item:not(:last-child) {
    border-right: 1px solid #dcdfe6
}

.has-sub-nav .sys-list-other {
    position: relative
}

.has-sub-nav .sys-list-other:before {
    content: "";
    position: absolute;
    left: 15px;
    right: 15px;
    height: 1px;
    background: #dcdfe6
}

.c-search-wrapper {
    margin-bottom: 7px
}

.c-search-wrapper .form-group {
    margin-bottom: 8px
}

.c-search-wrapper label {
    font-weight: normal;
    margin-bottom: 0
}

.c-search-wrapper .btn .iconfont {
    font-size: 16px;
    color: #888;
    margin-right: 5px
}

.c-search-wrapper .more-filter-btn {
    position: relative
}

.c-search-wrapper .more-filter-btn.cur {
    background: #fafafa;
    border-left: 1px solid #dcdfe6;
    border-right: 1px solid #dcdfe6;
    border-top: 1px solid #dcdfe6
}

.c-search-wrapper .more-filter-btn.cur:after {
    content: "";
    background: #fafafa;
    position: absolute;
    height: 12px;
    bottom: -8px;
    left: -1px;
    right: -1px;
    border-left: 1px solid #dcdfe6;
    border-right: 1px solid #dcdfe6
}

.c-search-wrapper .more-filter-btn .iconfont {
    font-size: 12px;
    margin-left: 3px
}

.c-search-wrapper .more-filter {
    background: #fafafa;
    padding: 15px 15px 7px;
    margin-top: -2px;
    border-radius: 3px;
    border: 1px solid #dcdfe6
}

.c-search-wrapper .more-filter .join-line {
    color: #ccc
}

.c-search-box {
    height: .36rem;
    display: flex;
    align-items: center;
    border: 1px solid #f0f0f0;
    border-radius: .3rem;
    background: #f0f0f0;
    padding: 0 .14rem;
    position: relative
}

.c-search-box.white-bg {
    background: #fff;
    border: 1px solid #fff
}

.c-search-box .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.c-search-box .keywords {
    background: transparent;
    border: none;
    width: 2rem;
    color: #333
}

.c-search-box .keywords::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
    opacity: 1
}

.c-search-box .keywords:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3)
}

.c-search-box .keywords::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3)
}

.c-search-box .search-btn {
    font-size: .24rem;
    color: rgba(0, 0, 0, 0.5);
    padding-left: .1rem;
    margin-left: .08rem;
    position: relative
}

.c-search-box .search-btn:hover {
    color: #5e7cac
}

.c-search-box .search-btn:after {
    content: "";
    width: 1px;
    height: .16rem;
    background: rgba(219, 224, 229, 0.25);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%)
}

.c-search-box .keywords-del {
    color: rgba(255, 255, 255, 0.5);
    font-size: .24rem;
    margin-left: auto
}

.c-search-box .smart-search-wrapper {
    position: absolute;
    top: .41rem;
    border-radius: 0 0 2px 2px;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
    z-index: 3;
    left: 0;
    right: .57rem
}

.c-search-box .smart-search-wrapper li {
    padding: 0 .15rem;
    line-height: .36rem;
    cursor: pointer
}

.c-search-box .smart-search-wrapper li:hover {
    background: #f5f7fa;
    color: #3862d8
}

.map-container {
    position: relative
}

.c-map-wrapper .search-box, .c-map-wrapper .tool-wrapper, .c-map-wrapper .return-btn-box, .c-map-wrapper .result-wrapper, .c-map-wrapper .display-content-panel {
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15) !important
}

.c-map-wrapper .search-box, .c-map-wrapper .tool-wrapper {
    position: absolute;
    top: 20px;
    height: 37px
}

.c-map-wrapper .sel-tool-content {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: #fff;
    margin-top: 5px
}

.c-map-wrapper .sel-tool-content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0)
}

.c-map-wrapper .sel-tool-content .sel-tool-item-title {
    font-weight: bold;
    padding: 8px 10px;
    background: #f8f8f8
}

.c-map-wrapper .sel-tool-content .sel-tool-item {
    height: 36px;
    line-height: 36px;
    padding: 0 7px;
    cursor: pointer
}

.c-map-wrapper .sel-tool-content .sel-tool-item:hover {
    background: #f2f7ff;
    color: #3862d8 !important
}

.c-map-wrapper .sel-tool-content .sel-tool-item:hover .iconfont {
    color: #3862d8 !important
}

.c-map-wrapper .sel-tool-content .sel-tool-item.cur {
    color: #3862d8 !important
}

.c-map-wrapper .sel-tool-content .sel-tool-item.cur .iconfont {
    color: #3862d8 !important
}

.c-map-wrapper .sel-tool-content .sel-tool-item .iconfont {
    margin-right: 4px;
    color: #8f8f8f
}

.c-map-wrapper .sel-tool-content:before {
    content: "";
    border: 5px solid transparent;
    border-bottom-color: #fff;
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0)
}

.c-map-wrapper .sel-tool-content .sel-tool-item {
    min-width: 80px;
    white-space: nowrap;
    padding: 0 .1rem;
    display: flex;
    align-items: center
}

.icon-type .icon-img {
    height: 24px
}

.icon-type .icon-area {
    width: 16px;
    height: 16px
}

.icon-type .iconline {
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    color: #ff0000;
    margin-top: -2px
}

.map-setting-list {
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15) !important;
    width: 240px;
    position: absolute;
    left: 20px;
    top: 20px
}

.map-setting-list.open {
    width: 350px
}

.map-setting-list.open .map-list-content {
    height: 500px;
    display: block
}

.map-setting-list .map-list-title {
    padding: 5px 10px 0 10px;
    position: relative;
    border-bottom: 1px solid #e4e7ed
}

.map-setting-list .map-list-title .nav > li > a {
    padding: 5px 15px;
    border-bottom: none
}

.map-setting-list .map-list-title .nav > li > a:hover {
    background: #fcfcfc
}

.map-setting-list .map-list-title .nav > li.active a {
    background: #fcfcfc;
    background-image: -webkit-linear-gradient(bottom, #f8f8f8, #fcfcfc 100%);
    background-image: -moz-linear-gradient(bottom, #f8f8f8, #fcfcfc 100%);
    background-image: -o-linear-gradient(bottom, #f8f8f8, #fcfcfc 100%);
    background-image: -ms-linear-gradient(bottom, #f8f8f8, #fcfcfc 100%);
    background-image: linear-gradient(to bottom, #f8f8f8, #fcfcfc 100%)
}

.map-setting-list .map-list-title .nav-tabs {
    border-bottom: none
}

.map-setting-list .map-list-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 20px;
    margin-top: 2px
}

.map-setting-list .map-list-content {
    padding: 10px;
    background: #fcfcfc;
    transition: .5s height ease-in;
    display: none
}

.map-setting-list .filter-wrapper {
    display: flex;
    align-items: center;
    margin: 2px 0 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    padding-left: 5px
}

.map-setting-list .filter-wrapper label {
    font-weight: normal
}

.map-setting-list .map-item-wrapper {
    height: 390px;
    margin-bottom: 10px;
    overflow: auto
}

.map-setting-list .map-item-wrapper .map-item {
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    transition: height .5s ease-in;
    flex-wrap: wrap;
    cursor: pointer
}

.map-setting-list .map-item-wrapper .map-item:hover, .map-setting-list .map-item-wrapper .map-item.cur {
    background: #f8f8f8
}

.map-setting-list .map-item-wrapper .map-item:hover .map-item-action, .map-setting-list .map-item-wrapper .map-item.cur .map-item-action {
    display: flex
}

.map-setting-list .map-item-wrapper .map-item.cur {
    background: #f0f4ff
}

.map-setting-list .map-item-wrapper .map-item:not(:last-child) {
    border-bottom: 1px solid #eee
}

.map-setting-list .map-item-wrapper .map-item .map-subitem-wrapper {
    width: 100%;
    box-sizing: border-box;
    margin-left: 28px;
    margin-top: 15px;
    border-left: 4px solid #ddd;
    padding-left: 8px
}

.map-setting-list .map-item-wrapper .map-item .map-subitem-wrapper .map-subitem {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.map-setting-list .map-item-wrapper .map-item .map-subitem-wrapper .map-subitem:not(:last-child) {
    margin-bottom: 12px
}

.map-setting-list .map-item-wrapper .map-item .map-subitem-wrapper .map-subitem-name {
    margin-right: auto
}

.map-setting-list .map-item-wrapper .map-item .map-subitem-wrapper .icon-wrapper {
    margin-top: 0
}

.map-setting-list .map-item-wrapper .map-item-name {
    margin-bottom: 5px;
    font-size: 16px
}

.map-setting-list .map-item-wrapper .info-list {
    font-size: 12px;
    line-height: 1.7;
    display: flex;
    color: #777
}

.map-setting-list .map-item-wrapper .info-list li:not(:last-child) {
    margin-right: 10px
}

.map-setting-list .map-item-wrapper .icon-wrapper {
    margin-right: 8px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3px
}

.map-setting-list .map-item-wrapper .map-item-action {
    display: flex;
    margin-top: 8px;
    font-size: 12px;
    display: none
}

.map-setting-list .map-item-wrapper .map-item-action .action-item {
    margin-right: 10px;
    display: flex;
    align-items: center
}

.map-setting-list .map-item-wrapper .map-item-action .action-item .iconfont {
    margin-right: 3px
}

.map-setting-list .map-item-wrapper .map-item-action .action-item:hover {
    color: #3862d8;
    cursor: pointer
}

.map-setting-list .map-item-wrapper.default .map-item-action {
    display: flex
}

.map-setting-list .map-item-wrapper.default .map-item-right-action {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end
}

.map-setting-list .map-item-wrapper.default .toggle-btn {
    font-size: 12px;
    color: #777;
    position: relative;
    padding-left: 8px;
    margin-top: 8px;
    margin-right: 2px
}

.map-setting-list .map-item-wrapper.default .toggle-btn .iconfont {
    font-size: 14px
}

.map-setting-list .map-item-wrapper.default .toggle-btn:before {
    content: "";
    background: #ddd;
    position: absolute;
    left: 0;
    height: 15px;
    width: 1px;
    top: 50%;
    transform: translate(0, -50%)
}

.map-setting-list .list-action-wrapper {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 0 5px;
    align-items: center
}

.map-setting-list .list-action-wrapper .sort {
    margin-right: auto;
    position: relative;
    margin-left: 8px;
    padding-left: 8px
}

.map-setting-list .list-action-wrapper .sort:before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    height: 14px;
    width: 1px;
    background: #ccc
}

.map-setting-list .list-action-wrapper .action-btn {
    margin: 0 1px
}

.map-setting-list .list-action-wrapper .add-btn {
    color: #3862d8
}

.map-setting-list .bottom-data-total {
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    color: #ccc
}

.map-setting-list .bottom-data-total .cur-num-total {
    position: relative
}

.map-setting-list .bottom-data-total .cur-num-total:before, .map-setting-list .bottom-data-total .cur-num-total:after {
    content: "";
    height: 1px;
    background: #ddd;
    position: absolute;
    bottom: 9px;
    width: 50px
}

.map-setting-list .bottom-data-total .cur-num-total:before {
    left: -54px
}

.map-setting-list .bottom-data-total .cur-num-total:after {
    right: -54px
}

.map-tool-bar {
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px
}

.map-tool-bar .tool-wrapper {
    position: relative;
    right: 0;
    top: 0
}

.map-tool-bar .tool-wrapper:not(:last-child) {
    margin-right: 15px
}

.tool-wrapper {
    right: 20px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 5px
}

.tool-wrapper .iconpolDoc, .tool-wrapper .iconfeatureAnalysis, .tool-wrapper .iconsysManage {
    font-size: .2rem
}

.tool-wrapper .tool-item {
    padding: 0 10px;
    display: flex;
    align-items: center
}

.tool-wrapper .tool-item .arrow {
    vertical-align: middle;
    margin-right: -9px;
    margin-left: -4px;
    font-size: 22px
}

.tool-wrapper .tool-item .region-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 50px;
    float: left
}

.tool-wrapper .sel-item {
    position: relative
}

.tool-wrapper .sel-item:not(:first-child):before {
    content: "";
    height: 16px;
    width: 1px;
    background: #dddee1;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%)
}

.tool-wrapper.filter {
    right: 350px
}

.tool-wrapper.filter .tool-box {
    display: flex;
    justify-content: space-around
}

.tool-wrapper.filter .tool-filter-content {
    width: 370px
}

.tool-wrapper.filter .tool-item {
    text-align: center;
    display: flex;
    align-items: center
}

.tool-box {
    line-height: 38px;
    color: #434343;
    display: flex
}

.tool-box .tool-item {
    cursor: pointer;
    position: relative
}

.tool-box .tool-item.cur {
    color: #3862d8
}

.tool-box .tool-item.cur .iconfont {
    color: #3862d8
}

.tool-box .tool-item:after {
    content: "";
    height: 18px;
    width: 1px;
    background: #eee;
    position: absolute;
    right: -11px;
    top: 50%;
    transform: translate(0, -50%)
}

.tool-box .tool-item:last-child:after {
    display: none
}

.tool-box .tool-item.sel-tool {
    padding: 0 23px 0 10px
}

.tool-box .tool-item.sel-tool .iconfont {
    margin-right: 3px;
    float: left
}

.tool-box .tool-item.sel-tool:hover {
    color: #3862d8 !important
}

.tool-box .tool-item.sel-tool:hover .arrow, .tool-box .tool-item.sel-tool:hover .iconfont {
    color: #3862d8 !important
}

.tool-box .tool-item.sel-tool .arrow {
    margin: 0;
    position: absolute;
    right: .22rem;
    top: 0;
    width: 0;
    font-size: .16rem
}

.tool-box .tool-item.sel-tool .tool-item-text {
    min-width: 80px;
    width: auto !important;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left
}

.tool-box .iconfont {
    margin-right: 7px;
    color: #8f8f8f
}

.map-tool-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-repeat: no-repeat
}

.map-tool-posi {
    background: url('../../images/tool/map-tool-posi.png')
}

.map-tool-refresh {
    background: url('../../images/tool/map-tool-refresh.png')
}

.map-tool-line {
    background: url('../../images/tool/map-tool-line.png')
}

.map-tool-line.line {
    background-position: 0 0
}

.map-tool-line.circle {
    background-position: 0 -16px
}

.map-tool-line.rectangle {
    background-position: 0 -32px
}

.map-tool-area {
    background: url('../../images/tool/map-tool-area.png')
}

.map-tool-area.area {
    background-position: 0 0
}

.map-tool-area.circle {
    background-position: 0 -16px
}

.map-tool-area.rectangle {
    background-position: 0 -32px
}

.map-tool-tool {
    background: url('../../images/tool/map-tool-tool.png')
}

.map-tool-tool.tool {
    background-position: 0 0
}

.map-tool-tool.distance-measure {
    background-position: 0 -16px
}

.map-tool-tool.area-measure {
    background-position: 0 -32px
}

.map-tool-tool.merge {
    background-position: 0 -48px
}

.map-tool-tool.split {
    background-position: 0 -64px
}

.map-tool-tool.radiation-range {
    background-position: 0 -80px
}

.map-tool-tool.heating-power {
    background-position: 0 -96px
}

.map-tool-tool.multi-path-plan {
    background-position: 0 -112px
}

.map-tool-tool.multi-analysis {
    background-position: 0 -128px
}

.map-tool-tool.arrival-analysis {
    background-position: 0 -144px
}

.map-tool-tool.overlay_relative {
    background-position: 0 -160px
}

.map-tool-tool.remove_repeat_points {
    background-position: 0 -176px
}

.map-tool-drawing {
    background: url('../../images/tool/map-tool-drawing.png')
}

.map-tool-drawing.print {
    background-position: 0 0
}

.map-tool-drawing.print-choose {
    background-position: 0 -16px
}

.map-tool-drawing.print-results {
    background-position: 0 -32px
}

.map-tool-drawing.print_help {
    background-position: 0 -48px
}

.map-tool {
    position: absolute;
    right: 10px;
    bottom: .15rem
}

.map-tool .map-tool-item {
    border: 1px solid #dcdfe6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 3px;
    background: #fff
}

.map-tool .tool-icon {
    width: .26rem;
    height: .26rem;
    display: flex;
    background: url('../../images/map-tool.png') no-repeat
}

.map-tool .tool-icon:not(:last-child) {
    border-bottom: 1px solid #dcdfe6
}

.map-tool .tool-icon:hover {
    background-color: #fafafa
}

.map-tool .tool-map-model {
    background-position: 0 0
}

.map-tool .tool-map-zoomIn {
    background-position: 0 -26px
}

.map-tool .tool-map-zoomOut {
    background-position: 0 -52px
}

.map-tool .tool-map-drag {
    background-position: 0 -78px
}

.map-model {
    position: absolute;
    right: 30px;
    top: 1px;
    background: #fff;
    padding: 20px 10px 10px;
    display: flex
}

.map-model .map-model-close {
    position: absolute;
    right: 5px;
    top: 0px;
    color: #909399
}

.map-model .map-model-close .iconfont {
    font-size: 12px
}

.map-model .model-item {
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    width: 86px;
    height: 60px;
    margin-right: 10px;
    position: relative
}

.map-model .model-item:hover, .map-model .model-item.cur {
    box-shadow: 0 0 0 2px #3862d8;
    border: 1px solid #3862d8
}

.map-model .model-item:last-child {
    margin-right: 0
}

.map-model .model-item .model-text {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    background: #3862d8;
    color: #fff;
    padding: 0 2px;
    border-radius: 2px 0 0 0
}

.map-model .map-vector {
    background: url('../../images/map-vector.jpg')
}

.map-model .map-satellite {
    background: url('../../images/map-satellite.jpg')
}

.search-box {
    left: 15px;
    width: 426px;
    border-radius: 3px
}

.search-box .filter-list-wrapper .close-filter {
    height: 28px;
    padding: 0 10px;
    text-align: right;
    line-height: 28px;
    background: #f8f8f8;
    border-bottom: 1px solid #efefef;
    cursor: pointer
}

.search-box .filter-list-wrapper .close-filter .iconfont {
    font-size: 12px;
    color: #3862d8
}

.search-box .filter-list-wrapper .filter-list {
    padding: 15px
}

.search-box .filter-list-wrapper .list-item {
    margin-right: 8px;
    padding: 5px 0
}

.color-legend {
    width: 240px;
    position: absolute;
    right: 3.5rem;
    bottom: .2rem
}

.color-legend li.pollute-heavy, .color-legend li.pollute-serious {
    flex: 1
}

.color-legend ul {
    display: flex;
    position: relative
}

.color-legend li {
    flex: 1;
    text-align: center;
    height: 8px;
    position: relative;
    margin-right: 1px
}

.color-legend span.leave {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: auto;
    text-align: center;
    color: #333;
    font-size: 12px
}

.color-legend.edge {
    right: 0;
    bottom: 0
}

.color-legend.edge li {
    height: .18rem;
    margin-right: 0
}

.color-legend.edge span.leave {
    bottom: 0;
    color: #fff
}

.icon-legend {
    position: absolute;
    width: 150px;
    background: #fff;
    right: 340px;
    box-sizing: border-box;
    bottom: 10px
}

.icon-legend header.icon-legend-title {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #efefef;
    height: 34px;
    line-height: 34px;
    padding: 0 12px
}

.pop-box-inner {
    margin-top: -20px
}

.pop-box-inner label {
    font-weight: normal;
    margin-bottom: 0
}

.pop-box-inner .add-btn {
    cursor: pointer;
    color: #3862d8;
    margin-right: 5px
}

.pop-box-inner .add-btn:hover {
    text-decoration: underline
}

.pop-box-inner .popbox-form-item .form-item-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px
}

.pop-box-inner .el-form-item {
    margin-bottom: 15px
}

.pop-box-inner .el-icon-edit-btn, .pop-box-inner .el-icon-delete-btn {
    padding: 5px 8px
}

.pop-box-inner .el-form-item__content {
    position: relative
}

.pop-box-inner .el-form-item__content .unit {
    position: absolute;
    right: -37px;
    color: #ccc
}

.pop-box-inner .add-mark .unit {
    color: #ccc;
    float: right;
    font-size: 12px;
    position: inherit;
    right: 3px
}

.add-mark .el-form-item__label {
    width: auto
}

.add-mark .el-form-item {
    margin-bottom: 6px
}

.add-mark .el-form-item__error {
    top: 5px;
    right: 5px;
    left: auto
}

.add-mark .points-status .el-select {
    float: right
}

.add-mark .points-status .el-input__inner {
    border-radius: 0 4px 4px 0;
    margin-left: -1px
}

.add-mark .points-status .cur-points-status {
    height: 36px;
    border: 1px solid #dcdfe6;
    width: 10%;
    float: left;
    border-radius: 4px 0 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8
}

.add-mark .add-btn {
    float: right
}

.add-mark .unit {
    color: #ccc;
    float: right;
    font-size: 12px
}

.add-mark .point-attribute {
    margin-top: 20px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px
}

.add-mark .point-attribute .point-attribute-title {
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    background: #fafafa
}

.add-mark .point-attribute .point-attribute-list {
    padding: 0 15px 10px;
    border-top: 1px solid #eee
}

.file-manage {
    display: flex;
    margin-top: 15px
}

.file-manage .file-manage-item {
    border-radius: 4px;
    flex: 1;
    padding: 8px 2px;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    background: #fafafa;
    cursor: pointer;
    font-size: 12px;
    flex-direction: column;
    justify-content: center
}

.file-manage .file-manage-item:hover {
    border: 1px solid #ddd
}

.file-manage .file-manage-item:not(:last-child) {
    margin-right: 10px
}

.file-manage .file-type-info {
    display: flex;
    justify-content: center
}

.file-manage .file-type {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
    margin-top: 5px
}

.file-manage .file-num {
    font-family: Arial, Helvetica, sans-serif
}

.file-manage .img {
    background: url('../../images/file-img.png')
}

.file-manage .img-360 {
    background: url('../../images/file-img-360.png')
}

.file-manage .video {
    background: url('../../images/file-video.png')
}

.file-manage .zip {
    background: url('../../images/file-zip.png')
}

.file-manage .doc {
    background: url('../../images/file-doc.png')
}

.color-setting-wrapper {
    border: 1px solid #eee;
    padding: 20px;
    margin-top: 10px;
    margin-top: 20px
}

.color-setting-wrapper .setting-item {
    position: relative
}

.color-setting-wrapper .setting-item dt {
    position: absolute;
    top: -34px;
    background: #fff;
    padding: 3px 10px;
    left: -12px;
    font-weight: bold
}

.color-setting-wrapper .setting-item dd:last-child .el-form-item {
    margin-bottom: 0
}

.color-setting-wrapper .color-setting-box {
    width: 36px;
    height: 36px;
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center
}

.color-setting-wrapper .color-setting-box .icon-type .icon-area {
    width: 26px;
    height: 26px;
    cursor: pointer
}

.point-type-setting .el-tabs--border-card {
    box-shadow: none;
    border-radius: 3px
}

.point-type-setting .el-tabs__item {
    padding: 0 12px !important;
    height: 35px;
    line-height: 34px
}

.point-type-setting .el-tabs__item:last-child {
    padding-right: 12px !important
}

.point-type-setting .point-type-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 300px;
    overflow: auto
}

.point-type-setting .point-type-list .point-type-item {
    width: 16.66%
}

.point-type-setting .point-type-list .type-icon-wrapper {
    border: 1px solid #eee;
    height: 50px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center
}

.point-type-setting .point-type-list .type-icon-wrapper:hover, .point-type-setting .point-type-list .type-icon-wrapper.cur {
    border: 1px solid #3862d8;
    cursor: pointer;
    background: rgba(56, 98, 216, 0.1)
}

.point-type-setting .point-type-list .type-icon-wrapper .type-img {
    height: 30px
}

.point-type-setting .upload-wrapper {
    margin-top: 10px
}

.small-pop-box .el-dialog__header {
    padding: 10px 20px 10px
}

.small-pop-box .el-dialog__body {
    padding: 22px 14px 10px
}

.small-pop-box .el-dialog__body .el-radio {
    margin-right: 10px
}

.small-pop-box .el-dialog__body .el-radio:last-child {
    margin-right: 0
}

.small-pop-box .el-dialog__headerbtn {
    top: 10px;
    right: 10px
}

.small-pop-box .editing-type {
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee
}

.small-pop-box .option-list {
    border-bottom: 1px solid #eee;
    padding-bottom: 6px;
    margin-bottom: 6px
}

.small-pop-box .option-list .option-item {
    line-height: 2.5;
    display: flex;
    align-items: center;
    cursor: pointer
}

.small-pop-box .option-list .option-item:hover {
    color: #3862d8
}

.small-pop-box .option-list .option-item .iconfont {
    font-size: 24px;
    margin-right: 5px;
    line-height: 1
}

.small-pop-box .option-list:last-child {
    margin-bottom: 0;
    border-bottom: none
}

.small-pop-box .el-dialog__footer {
    padding: 10px;
    text-align: center
}

.small-pop-box .el-dialog__footer .el-button + .el-button {
    margin-left: 0
}

.point-info-wrapper {
    width: 300px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
    position: absolute
}

.point-info-detail .header-info {
    background-color: #3862d8;
    background-image: linear-gradient(to top, #5578de, #3862d8);
    color: #fff;
    padding: 10px 15px;
    box-sizing: border-box;
    position: relative
}

.point-info-detail .header-info.has-arrow:before {
    content: "";
    border: 8px solid transparent;
    border-right-color: #436ada;
    width: 0;
    height: 0;
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translate(0, -50%)
}

.point-info-detail .header-info .name {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    width: 80%
}

.point-info-detail .header-info .point-info-close {
    position: absolute;
    right: 12px;
    top: 12px;
    font-weight: bold;
    color: #fff
}

.point-info-detail .header-info .close-detail-btn {
    position: absolute;
    right: 2px;
    top: 2px;
    color: #fff;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 22px
}

.point-info-detail .header-info .close-detail-btn .iconfont {
    font-size: 12px
}

.point-info-detail .header-info .close-detail-btn:hover {
    background: #83a3ce;
    border-radius: 50%;
    color: #fff
}

.point-info-detail .header-info .close-detail-btn:hover .iconfont {
    font-weight: bold
}

.point-info-detail .header-info p {
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 15px;
    font-size: .12rem;
    color: rgba(255, 255, 255, 0.6)
}

.point-info-detail .point-relation-info {
    display: flex
}

.point-info-detail .point-relation-info .info-item:not(:last-child) {
    margin-right: 10px
}

.point-info-detail .point-info-body {
    padding: 15px
}

.point-info-detail .point-info-body .img-gallery {
    padding: 0 3px 12px;
    border-bottom: 1px solid #eee
}

.point-info-detail .point-info-body .img-gallery .gallery-title {
    font-size: 16px;
    margin-bottom: 6px
}

.point-info-detail .point-info-body .img-gallery .img-wrapper {
    height: 100px;
    background: #f0f0f0;
    border-radius: 3px
}

.point-info-detail .point-info-body .point-info-list {
    line-height: 1.8;
    padding: 8px 3px;
    border-bottom: 1px solid #eee
}

.point-info-detail .point-info-body .point-info-list.other {
    font-size: 12px;
    color: #3862d8
}

.point-info-detail .point-info-body .point-info-list:first-child {
    padding-top: 0
}

.point-info-detail .point-info-body .file-manage .file-manage-item {
    padding: 8px 10px
}

.point-info-detail .point-info-body .file-manage .file-manage-item:not(:last-child) {
    margin-right: 5px
}

.point-info-detail .point-info-footer {
    padding: 10px 15px 12px;
    display: flex;
    justify-content: flex-end
}

.point-info-detail .point-info-footer .btn {
    margin-left: 5px
}

html {
    font-size: 625%
}

html, body {
    height: 100%
}

body {
    font-size: .14rem;
    background: #FFF
}

a:hover, a:focus {
    text-decoration: none
}

a, input, button {
    outline: 0 none !important
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset
}

input::-ms-clear {
    display: none;
    width: 0;
    height: 0
}

textarea {
    resize: none
}

.responseImg {
    height: auto;
    max-width: 100%
}

.disabled {
    opacity: .4;
    cursor: default !important;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray
}

.disabled a {
    cursor: default
}

.ellipsis-basic {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 98%
}
