/* =============================================================
* VARIABLES
* ============================================================*/
$prefix: 'vhd__datepicker';
$white: #fff;
$black: #000;
$gray: #424b53;
$primary-text-color: #35343d;
$primary-text-inverse-color: #fff;
$lightest-gray: #f3f5f8;
$primary-color: #0fb8ad;
$medium-gray: #424b53;
$light-gray: #eaeaea;
$disabledBg: #f5f7f8;
$disabled-color: #d8d8d8;
$dark-gray: #2d3047;
$box-shadow: 0 0 10px 3px rgba(red, 0.4);
$background-color: #fff;

// Bg Date when hover it
$bgValidHoverDate: $primary-color;
$colorValidHoverDate: $white;

// Bg Date when range or valid it
$bgRollActiveDage: $primary-color;
$colorRollActiveDage: $white;

$font-size: 16px;
$font-small: #{$font-size * 0.875};
$font-family: 'Source Sans Pro', sans-serif, verdana, arial;
$font-regular: 400;
$font-bold: 700;
$tooltip-font-size: 11px;

$width-half-day: 120px;
$bullet-size: 4px;

$tooltip-border-width: 4px;
$tooltip-border-radius: 2px;
$border-generic-width: 1px;

/* =============================================================
* RESPONSIVE LAYOUT HELPERS
* ============================================================*/
$tablet: '(min-width: 480px) and (max-width: 767px)';
$phone: '(max-width: 479px)';
$desktop: '(min-width: 768px)';
$up-to-tablet: '(max-width: 767px)';
$extra-small-screen: '(max-width: 23em)';

@mixin focusStyle() {
  &:focus {
    outline: none;
  }
}

@mixin device($device-widths) {
  @media screen and #{$device-widths} {
    @content;
  }
}

/* =============================================================
* BASE STYLES
* ============================================================*/
.main-wrapper {
  display: flex;

  .main-sider {
    width: 300px;
  }

  .main-content {
    flex: 1;
  }
}


